<div class="row">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="col-12">
        <h5>محل الميلاد</h5>
    </div>
    <div class="col-sm-4">
        <div class="form-group control-group">
            <label for="bornCity">المحافظة</label>
            <!-- <input
                    type="text"
                    class="selectrs form-control"
                    id="bornCity"
                    name="bornCity"
                > -->
            <br>
            <select class="form-control" [(ngModel)]="BirthGovernment" (change)="SelectBirthGoverment($event.target.value)">
                <option value="0" disabled selected>
                    --اختر المحافظة--
                </option>
                <option *ngFor="let GOV of GovernrateArray" value="{{GOV.ID}}" [innerText]="GOV.Name"></option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group control-group">
            <label for="bornDistrict">المركز / الحي</label>
            <!-- <input
                    type="text"
                    class="selectrs form-control"
                    id="bornDistrict"
                    name="bornDistrict"
                > -->
            <br>
            <select class="form-control" [(ngModel)]="BirthArea" (change)="SelectBirthVillage($event.target.value)">
                <option value="0" disabled selected>
                    --اختر المركز/الحي--
                </option>
                <option *ngFor="let A of SelectedArias" value="{{A.ID}}" [innerText]="A.Name"></option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group control-group">
            <label for="bornVillage">القرية</label>
            <!-- <input
                    type="text"
                    class="selectrs form-control"
                    id="bornVillage"
                    name="bornVillage"
                > -->
            <br>
            <select class="form-control" [(ngModel)]="BirthVillage">
                <option value="0" disabled selected>
                    --اختر القرية--
                </option>
                <option *ngFor="let A of LivingVillageArray" value="{{A.ID}}" [innerText]="A.Name"></option>
            </select>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12">
        <h5>محل الإقامة</h5>
    </div>
    <div class="col-sm-4">
        <div class="form-group control-group">
            <label for="liveCity">المحافظة</label>
            <!-- <input
                    type="text"
                    class="selectrs form-control"
                    id="liveCity"
                    name="liveCity"
                > -->
            <br>
            <select class="form-control" [(ngModel)]="livingGovernment" (change)="SelectLivingGoverment($event.target.value)">
                <option value="0" disabled selected>
                    --اختر المحافظة--
                </option>
                <option *ngFor="let GOV of GovernrateArray" value="{{GOV.ID}}" [innerText]="GOV.Name"></option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group control-group">
            <label for="liveDistrict">المركز / الحي</label>
            <!-- <input
                    type="text"
                    class="selectrs form-control"
                    id="liveDistrict"
                    name="liveDistrict"
                > -->
            <br>
            <select class="form-control" [(ngModel)]="livingArea" (change)="SelectLivingVillage($event.target.value)">
                <option value="0" disabled selected>
                    --اختر المركز/الحي--
                </option>
                <option *ngFor="let A of LivingAreaArray" value="{{A.ID}}" [innerText]="A.Name"></option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group control-group">
            <label for="liveVillage">القرية</label>
            <!-- <input
                    type="text"
                    class="selectrs form-control"
                    id="liveVillage"
                    name="liveVillage"
                > -->
            <br>
            <select [(ngModel)]="livingVillage" class="form-control">
                <option value="0" disabled selected>
                    --اختر القرية--
                </option>
                <option *ngFor="let A of LivingVillageArray" value="{{A.ID}}" [innerText]="A.Name"></option>
            </select>
        </div>
    </div>
</div>
<div class="pager wizard row justify-content-center">
    <li class="col-lg-2 col-md-3 col-sm-4 next">
        <div class="form-group">
            <label for style="opacity:0">
                حفظ وإستمرار
            </label>
            <input class="btn-success form-control" type="submit" value="حفظ وإستمرار" (click)="OnSubmit()">
        </div>
    </li>
    <li class="col-lg-2 col-md-3 col-sm-4 previous disabled">
        <div class="form-group">
            <label for style="opacity:0">
                العودة
            </label>
            <a href="#">
                <input class="btn-success form-control" type="button" value="العودة">
            </a>
        </div>
    </li>
</div>